/* Padding, margin and border removed */

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body */

a {
    text-decoration: none;
}

/* Page Title */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 75px;
    color: black;
}

/* Container styling */

.container {
    color: #fff;
    background-color: rgba(44, 44, 44, 0.6);
    max-width: 550px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 2px;
    margin: auto;
}

.hide {
    display: none;
}