/* Padding, margin and border removed */

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body */

body {
    background: url(../images/background/orphans-castle-ruins.webp) no-repeat center center;
}

a {
    text-decoration: none;
}

/* Page Title */

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 120px;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-shadow: 2px 3px black;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}

#question {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}

/* Container styling */

.container {
    color: #fff;
    background-color: rgb(12 12 12 / 60%);
    max-width: 550px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 2px;
    margin: auto;
    margin-bottom: 100px;
}

.hide {
    display: none;
}

/* Button styling */

.btn {
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding: 2px 20px;
    font-size: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background-color: #464646;
}

.btn:disabled {
    cursor: none;
}

.btn-display {
    display: grid;
    grid-template-columns: max-content;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}

#back-to-index-btn {
    margin: 20px auto;
}

#back-to-index-btn a {
    color: #fff;
}

/* Instructions container */

#instructions-container {
    margin-left: 5%;
    text-align: left;
    font-size: 1.2rem;
}

#instructions-container ol {
    font-family: 'Open sans', sans-serif;
}

/* 404 error page */

.error-container p {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

/* Footer and Networks */

.network-container {
    color: #fff;
    background-color: rgb(12 12 12 / 60%);
    max-width: 550px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 10px 2px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.networks {
    display: flex;
}

.each-network {
    margin: 5px auto;
}
    
.networks i {
    list-style-type: none;
    display: inline;
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #000000;
}

/* Styling to Answers */

.correct-answer {
    background: rgb(21, 219, 4);
}

.wrong-answer {
    background: rgb(236, 32, 32);
}

/* Media queries */

/* for medium screens sizes from 768px wide and down */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        margin-top: 220px;
        margin-bottom: 75px;
    }

    h2 {
        font-size: 1.4rem;
    }

    #question {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1rem;
    }

    #instructions-container {
        font-size: 1rem;
    }

    .networks i {
        font-size: 145%;
    }

    .container {
        max-width: 475px;
    }

    .network-container {
        max-width: 475px;
    }

}

/* for small screens sizes from 576px wide and down */

@media screen and (max-width: 576px) {
    h1 {
        font-size: 2rem;
        margin-top: 75px;
        margin-bottom: 100px;
    }

    h2 {
        font-size: 1.1rem;
    }

    #question {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 0.8rem;
    }

    #instructions-container {
        font-size: 0.8rem;
    }

    .container {
        margin-bottom: 150px;
    }

    .networks i {
        font-size: 137%;
    }

    .network-container {
        margin-top: 250px;
    }
}

/* for extra small screen sizes from 335px wide and down */

@media screen and (max-width: 335px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    #question {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.7rem;
    }

    #instructions-container {
        font-size: 0.7rem;
    }

    .networks i {
        font-size: 130%;
    }
}