/* Padding, margin and border removed */

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body */

a {
    text-decoration: none;
}

/* Page Title */

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
    color: black;
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}

#question {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}

/* Container styling */

.container {
    color: #fff;
    background-color: rgba(44, 44, 44, 0.6);
    max-width: 550px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 2px;
    margin: auto;
    margin-bottom: 100px;
}

.hide {
    display: none;
}

/* Button styling */

.btn {
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #1d1d1d;
    text-align: center;
    padding: 2px 20px;
    font-size: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background-color: #464646;
}

.btn:disabled {
    cursor: none;
}

.btn-display {
    display: grid;
    grid-template-columns: max-content;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}

.next-btn {
    margin: 10px auto;
    display: none;
}

/* Instructions container */

#instructions-container {
    margin-left: 5%;
    text-align: left;
    font-size: 1.2rem;
}

#instructions-container ol {
    font-family: 'Open sans', sans-serif;
}

/* 404 error page */

.error-container p {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

/* Footer and Networks */

.network-container {
    color: #fff;
    background-color: rgba(44, 44, 44, 0.6);
    max-width: 550px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 10px 2px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

footer li {
    list-style-type: none;
    display: inline;

}

.networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #000000;
}

/* Styling to Answers */

.correct-answer {
    background: rgb(21, 219,4);
}

.wrong-answer {
    background: rgb(236,32,32);
}